body {
  margin: 0;
  font-family: 'BourgeoisBold', sans-serif;
  background: linear-gradient(90deg, #0c1830, #152c4f);
  color: white;
  overflow-x: hidden;
}

.site-header {
  text-align: center;
  padding: 10px 0;
}

.site-logo {
  width: 50px;
}

.site-title {
  margin: 5px 0 0 0;
  font-size: 18px;
  letter-spacing: 2px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 10px 30px 20px 30px;
}

/* LEFT */

.left-panel {
  width: 420px;
  text-align: center;
}

.left-panel h1 {
  font-size: 26px;
  margin-bottom: 12px;
}

.name-wrapper {
  margin-bottom: 15px;
}

#personName {
  padding: 8px;
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  border: none;
  width: 240px;
}

#charCounter {
  font-size: 12px;
  margin-top: 4px;
  color: #ccc;
}

#charCounter.limit {
  color: #a52019;
  font-weight: bold;
}

#teams {
  list-style: none;
  padding: 0;
  margin: 0;
}

#teams li {
  background: #3a4b61;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 6px;
  cursor: grab;
  font-size: 14px;
}

/* RIGHT */

.right-panel {
  text-align: center;
}

.right-panel h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

#previewCanvas {
  width: 320px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-family: 'BourgeoisBold', sans-serif;
}

#downloadOnlyBtn {
  background: #2d8cff;
  color: white;
}

#downloadShareBtn {
  background: #1da1f2;
  color: white;
}

#discordBtn {
  background: #5865f2;
  color: white;
}
