* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #0b1629, #111f3b);
  color: white;
  min-height: 100vh;
  overflow-y: auto; /* Scroll SOLO si hace falta */
}

.top-logo {
  text-align: center;
  padding: 20px 0;
}

.top-logo img {
  height: 50px;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 20px 40px 60px 40px;
  align-items: flex-start; /* CLAVE para alinear desde arriba */
}

/* IZQUIERDA */

.left-panel {
  width: 500px;
}

.left-panel h2 {
  text-align: center;
  margin-bottom: 20px;
}

.name-container {
  text-align: center;
  margin-bottom: 25px;
}

#username {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-weight: bold;
}

#charCount {
  margin-top: 6px;
  font-size: 14px;
  color: #ccc;
}

#charCount.limit {
  color: #a52019;
  font-weight: bold;
}

/* LISTA */

.ranking-list {
  margin-top: 10px;
}

.rank-item {
  background: #2b3d55;
  border-radius: 10px;
  padding: 10px 18px; /* MÁS FINITO */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: grab;
  font-weight: bold;
  font-size: 16px; /* LETRA MÁS GRANDE */
}

.rank-number {
  font-weight: bold;
  width: 40px;
}

/* DERECHA */

.right-panel {
  width: 520px;
  margin-top: 135px; 
  /* Ajustado para que arranque a la altura del rectángulo #1 */
}

.right-panel h3 {
  margin-bottom: 15px;
  text-align: center;
}

.preview-box {
  background: #0f1e33;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.preview-box canvas {
  width: 300px;
  height: auto;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px; /* BOTONES MÁS GRANDES */
  cursor: pointer;
}

#downloadBtn {
  background: #3c82f6;
  color: white;
}

#tweetBtn {
  background: #2492d1;
  color: white;
}

.discord {
  background: #5865f2;
  color: white;
}
