@font-face {
  font-family: 'BourgeoisBold';
  src: url('fonts/Bourgeois-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'BourgeoisBold', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  height: 100vh;
  overflow-x: hidden;
}

.site-header {
  padding: 10px 0; /* reducido */
  display: flex;
  justify-content: center;
}

.header-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-logo { height: 40px; }
.site-title { font-size: 20px; letter-spacing: 2px; }

.main-layout {
  display: flex;
  height: calc(100vh - 70px);
  padding: 10px 30px 20px 30px; /* reducido */
  gap: 30px; /* menos espacio */
}

/* PANEL IZQUIERDO */

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 5px 0 8px 0; /* reducido */
  font-size: 24px; /* un poco más chico */
}

#personName {
  width: 220px;
  padding: 6px;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-family: 'BourgeoisBold';
  transition: 0.2s;
}

#personName.limit {
  border: 2px solid #a52019;
}

#charCounter {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px; /* reducido */
}

#charCounter.limit {
  color: #a52019;
}

#teams {
  width: 100%;
  max-width: 520px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px; /* más compacto */
}

#teams li {
  background: #334155;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 13px;
  cursor: grab;
}

.position {
  width: 35px;
}

.logo-box {
  width: 28px;
  height: 28px;
  background: #1e293b;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.logo-box img {
  max-width: 100%;
  max-height: 100%;
}

/* PANEL DERECHO */

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview-box {
  background: #111827;
  padding: 12px; /* reducido */
  border-radius: 16px;
  text-align: center;
}

.preview-box img {
  width: 100%;
  max-height: 460px; /* reducido */
  object-fit: contain;
  border-radius: 12px;
}

.share-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px; /* menos espacio */
}

.btn {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: 'BourgeoisBold';
  transition: 0.2s;
}

.twitter {
  background: #1DA1F2;
  color: white;
}

.download {
  background: #2d8cff;
  color: white;
}

.discord {
  background: #5865F2;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

.btn:hover {
  transform: scale(1.03);
}
